<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 01: Evaluate the Ad Budget Dataset of XYZ Firm

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

**Learner:** Cédric HAZOUME <cedric.hazoume@gmail.com>

#### 1: Import the dataset

In [67]:
#Import the required libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import linear_model

In [45]:
#Import the advertising dataset
ad_budget_dataset = pd.read_csv('./data/Advertising Budget and Sales.csv')

#### 2: Analyze the dataset

In [46]:
#View the initial few records of the dataset
ad_budget_dataset.head()

,Unnamed: 0,TV Ad Budget ($),Radio Ad Budget ($),Newspaper Ad Budget ($),Sales ($)
0,1,230.1,37.8,69.2,22.1
1,2,44.5,39.3,45.1,10.4
2,3,17.2,45.9,69.3,9.3
3,4,151.5,41.3,58.5,18.5
4,5,180.8,10.8,58.4,12.9

In [47]:
#Check the total number of elements in the dataset
ad_budget_dataset.size

1000

#### 3: Find the features or media channels used by the firm

In [48]:
#Check the number of observations (rows) and attributes (columns) in the dataset
ad_budget_dataset.shape

(200, 5)

In [49]:
#View the names of each of the attributes
ad_budget_dataset.columns

Index(['Unnamed: 0', 'TV Ad Budget ($)', 'Radio Ad Budget ($)',
       'Newspaper Ad Budget ($)', 'Sales ($)'],
      dtype='object')

#### 4: Create objects to train and test the model; find the sales figures for each channel

In [50]:
#Create a feature object from the columns
X_Features = ad_budget_dataset[['TV Ad Budget ($)','Radio Ad Budget ($)','Newspaper Ad Budget ($)']]

In [51]:
#View the feature object
X_Features

     TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
0               230.1                 37.8                     69.2
1                44.5                 39.3                     45.1
2                17.2                 45.9                     69.3
3               151.5                 41.3                     58.5
4               180.8                 10.8                     58.4
..                ...                  ...                      ...
195              38.2                  3.7                     13.8
196              94.2                  4.9                      8.1
197             177.0                  9.3                      6.4
198             283.6                 42.0                     66.2
199             232.1                  8.6                      8.7

[200 rows x 3 columns]

In [52]:
#Create a target object (Hint: use the sales column as it is the response of the dataset)
Y_target = ad_budget_dataset[['Sales ($)']]

In [53]:
#View the target object
Y_target

     Sales ($)
0         22.1
1         10.4
2          9.3
3         18.5
4         12.9
..         ...
195        7.6
196        9.7
197       12.8
198       25.5
199       13.4

[200 rows x 1 columns]

In [54]:
#Verify if all the observations have been captured in the feature object
X_Features.shape[0] == ad_budget_dataset.shape[0]

True

In [55]:
#Verify if all the observations have been captured in the target object
Y_target.shape[0] == ad_budget_dataset.shape[0]

True

#### 5: Split the original dataset into training and testing datasets for the model

In [56]:
#Split the dataset (by default, 75% is the training data and 25% is the testing data)
X_train, X_test, y_train, y_test = train_test_split(X_Features, Y_target, test_size=0.25, random_state=42)

In [41]:
#Verify if the training and testing datasets are split correctly (Hint: use the shape() method)

In [57]:
# Check if X_train size is equal to 75% of X_Features size
X_train.shape[0] == (0.75 * X_Features.shape[0])

True

In [58]:
#Check if X_test size is equal to 25% of X_Features size
X_test.shape[0] == (0.25 * X_Features.shape[0])

True

#### 6: Create a model  to predict the sales outcome

In [63]:
#Create a linear regression model
model = linear_model.LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [64]:
#Print the intercept and coefficients 
print('Coefficients: \n', model.coef_)

Coefficients:
 [[0.04543356 0.19145654 0.00256809]]

In [65]:
print('Intercept: \n', model.intercept_)

Intercept:
 [2.77830346]

In [69]:
#Predict the outcome for the testing dataset
ad_budget_pred = model.predict(X_test)

#### 7: Calculate the Mean Square Error (MSE)

In [68]:
#Import required libraries for calculating MSE (mean square error)
from sklearn.metrics import mean_squared_error

In [70]:
#Calculate the MSE
print('Mean squared error: %.2f'
      % mean_squared_error(y_test, ad_budget_pred))

Mean squared error: 2.88