<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 02: Evaluate the Diabetes Dataset

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: Import the dataset

In [1]:
#Import the required libraries
import pandas as pd

In [3]:
#Import the diabetes dataset
diabetes_dataset = pd.read_csv('./data/pima-indians-diabetes.data',header=None)

#### 2: Analyze the dataset

In [4]:
#View the first five observations of the dataset
diabetes_dataset.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [5]:
diabetes_dataset.size

6912

In [6]:
diabetes_dataset.shape

(768, 9)

#### 3: Find the features of the dataset

In [7]:
#Use the .NAMES file to view and set the features of the dataset
diabetes_dataset_features = {
                                0:'Pregnancy number',
                                1: 'Plasma glucose concentration',
                                2: 'Diastolic blood pressure (mm Hg)',
                                3: 'Triceps skin fold thickness (mm)',
                                4: '2-Hour serum insulin (mu U/ml)',
                                5: 'Body mass index',
                                6: 'Diabetes pedigree function',
                                7: 'Age (years)',
                                8: 'Class variable (0 or 1)'
                            }

In [8]:
#Use the feature names set earlier and fix it as the column headers of the dataset
diabetes_dataset.rename(columns=diabetes_dataset_features, inplace=True)

In [9]:
#Verify if the dataset is updated with the new headers
diabetes_dataset.columns

Index(['Pregnancy number', 'Plasma glucose concentration',
       'Diastolic blood pressure (mm Hg)', 'Triceps skin fold thickness (mm)',
       '2-Hour serum insulin (mu U/ml)', 'Body mass index',
       'Diabetes pedigree function', 'Age (years)', 'Class variable (0 or 1)'],
      dtype='object')

In [10]:
diabetes_dataset.head()

,Pregnancy number,Plasma glucose concentration,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index,Diabetes pedigree function,Age (years),Class variable (0 or 1)
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [11]:
#View the number of observations and features of the dataset
diabetes_dataset.shape

(768, 9)

#### 4: Find the response  of the dataset

In [12]:
#Select features from the dataset to create the model
features = diabetes_dataset[['Pregnancy number', 'Plasma glucose concentration',
       'Diastolic blood pressure (mm Hg)', 'Triceps skin fold thickness (mm)',
       '2-Hour serum insulin (mu U/ml)', 'Body mass index',
       'Diabetes pedigree function', 'Age (years)']]

In [13]:
#Create the feature object
X_Features = features

In [14]:
X_Features.head()

,Pregnancy number,Plasma glucose concentration,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index,Diabetes pedigree function,Age (years)
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [15]:
#Create the reponse object
Y_target = diabetes_dataset[['Class variable (0 or 1)']]

In [16]:
Y_target.head()

   Class variable (0 or 1)
0                        1
1                        0
2                        1
3                        0
4                        1

In [17]:
#View the shape of the feature object
X_Features.shape

(768, 8)

In [18]:
#View the shape of the target object
Y_target.shape

(768, 1)

#### 5: Use training and testing datasets to train the model

In [19]:
#Split the dataset to test and train the model
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_Features, Y_target, test_size=0.25, random_state=2)

In [20]:
X_train.head()

,Pregnancy number,Plasma glucose concentration,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index,Diabetes pedigree function,Age (years)
578,10,133,68,0,0,27.0,0.245,36
427,1,181,64,30,180,34.1,0.328,38
402,5,136,84,41,88,35.0,0.286,35
116,5,124,74,0,0,34.0,0.220,38
414,0,138,60,35,167,34.6,0.534,21

In [21]:
X_train.shape

(576, 8)

In [22]:
X_test.head()

,Pregnancy number,Plasma glucose concentration,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index,Diabetes pedigree function,Age (years)
158,2,88,74,19,53,29.0,0.229,22
251,2,129,84,0,0,28.0,0.284,27
631,0,102,78,40,90,34.5,0.238,24
757,0,123,72,0,0,36.3,0.258,52
689,1,144,82,46,180,46.1,0.335,46

In [23]:
X_test.shape

(192, 8)

In [24]:
y_train.head()

     Class variable (0 or 1)
578                        0
427                        1
402                        1
116                        1
414                        1

In [25]:
y_train.shape

(576, 1)

In [26]:
y_test.shape

(192, 1)

#### 6: Create a model  to predict the diabetes outcome

In [27]:
# Create a logistic regression model using the training set
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train, y_train)

/home/cedric/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
/home/cedric/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [28]:
#Make predictions using the testing set
y_pred = model.predict(X_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0])

#### 7: Check the accuracy of the model

In [29]:
#Evaluate the accuracy of your model
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.7604166666666666

In [30]:
#Print the first 30 actual and predicted responses
y_test.values[:30]

array([[0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0]])

In [31]:
y_pred[:30]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0])